doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    title Modern Workflow
    
    //- Stylesheet and font    
    link(href='css/style.css', rel='stylesheet') 
    
    script(src="js/_vendor.js")  
 
  body 

    //- Wrapper Site
    section.site
     
        h1 Modern Workflow
      
    
    script(src="js/app.js")   

    //- Browser Update
    script.
      var $buoop = {vs:{i:9,f:25,o:12.1,s:7},c:2}; 
      function $buo_f(){ 
       var e = document.createElement("script"); 
       e.src = "//browser-update.org/update.min.js"; 
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
       
