*
  box-sizing border-box

  &:before,
  &:after
    box-sizing border-box



html
    //-

body
    overflow-x hidden
    transition all 1s ease
    min-width 320px

    if ( $debug-enable is true ){
        @extend $debug-break-point
    }

    if ( $debug-grid is true ){
        @extend $debug-grid
    }
